/*<-------------------- Element Selector ------------------> */

body {
    display: flex;
}

h2 {
    margin-left: 10%;
    color: black;
    font-weight: bold;
}

label {
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    height: 45px;
    margin: 10px;
    background-color: rgb(7, 124, 22);
    font-size: 20px;
    font-weight: bold;
    color: white;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}

select {
    width: 100%;
    margin: 10px;
}

tr:hover {
    background-color: yellow;
}

th {
    background-color: #04AA6D;
    color: white;
}


/*<-------------------- Class Selector ------------------> */

.image {
    width: 50%;
    height: 560px;
}

.image1 {
    width: 100%;
    height: 100%;
}

.form {
    width: 50%;
    height: 560px;
    margin: 20px 20px 20px 20px;
    background-color: white;
    border-radius: 5px;
    text-decoration-color: black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}